// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit {
    :hover{
        background-color: #CCC;
    }
}
.trash {
    :hover {
        background-color: #CCC;
    }
}
.apply {
    :hover {
        background-color: #CCC;
    }
}
.new {
    
    :hover{
        background-color: #CCC;

    }
    font-size: 1.7em;
}
.links {
    width: 100%;
}